@model restapp.Models.FoodItem

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Edit</h1>

<h4>FoodItem</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemId" />
            <div class="form-group">
                <label asp-for="ItemName" class="control-label"></label>
                <input asp-for="ItemName" class="form-control" />
                <span asp-validation-for="ItemName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemDescription" class="control-label"></label>
                <textarea asp-for="ItemDescription" class="form-control"></textarea>
                <span asp-validation-for="ItemDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActualPrice" class="control-label"></label>
                <input asp-for="ActualPrice" class="form-control" />
                <span asp-validation-for="ActualPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPer" class="control-label"></label>
                <input asp-for="DiscountPer" class="form-control" type="number"/>
                <span asp-validation-for="DiscountPer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellingPrice" class="control-label"></label>
                <input asp-for="SellingPrice" class="form-control" />
                <span asp-validation-for="SellingPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RatingCount" class="control-label"></label>
                <input asp-for="RatingCount" class="form-control" />
                <span asp-validation-for="RatingCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemImagePath" class="control-label">Current Image</label>
                <img src="@Url.Content(Model.ItemImagePath)"
                        width="600"
                        height="150"
                        alt="@Model.ItemName"/>
                <span asp-validation-for="ItemImagePath" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ItemImagePath" class="control-label">Selected New Food item Image</label>
                <img id="ItemImagePreview" 
                    class="form-control" 
                    width="600" 
                    height="150"/>
            </div>

            <div class="form-group">
                <label class="control-label">Select New food item Image</label>
                <input type="file" 
                    name="ItemImage" 
                    class="form-control" 
                    onchange="DisplayImage(event)"/>
                <span asp-validation-for="ItemImage" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAvailable" /> @Html.DisplayNameFor(model => model.IsAvailable)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBestSeller" /> @Html.DisplayNameFor(model => model.IsBestSeller)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsFastMoving" /> @Html.DisplayNameFor(model => model.IsFastMoving)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsBreakfast" /> @Html.DisplayNameFor(model => model.IsBreakfast)
                </label>
            </div>

           <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsLunch" /> @Html.DisplayNameFor(model => model.IsLunch)
                </label>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsDinner" /> @Html.DisplayNameFor(model => model.IsDinner)
                </label>
            </div>


            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemTypeId" class="control-label"></label>
                <select asp-for="ItemTypeId" class="form-control" asp-items="ViewBag.ItemTypeId"></select>
                <span asp-validation-for="ItemTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    var DisplayImage = function(event)
    {
        //the file which is selected by type="file" then it is given as input type"event" to the function
        //target is an object which refers to the image that is selected 
        console.log(event.target.value);
        var previewImage = document.getElementById("ItemImagePreview");
        console.log(event.target.files[0]);
        previewImage.src = URL.createObjectURL(event.target.files[0]);       
    }
</script>
<script>
  const actualPriceInput = document.getElementById('ActualPrice');
  const discountInput = document.getElementById('DiscountPer');
  const sellingPriceInput = document.getElementById('SellingPrice');

  function calculateSellingPrice() {
    const ActualPrice = parseFloat(actualPriceInput.value) || 0;
    const DiscountPer = parseFloat(discountInput.value) || 0;

    const SellingPrice = ActualPrice - (DiscountPer / 100) * ActualPrice;
    sellingPriceInput.value = Math.round(SellingPrice); // Round to 2 decimal places
  }

  actualPriceInput.addEventListener('input', calculateSellingPrice);
  discountInput.addEventListener('input', calculateSellingPrice);
</script>
<div>
    <a asp-action="Index">Back to List</a>
</div>

